<h1>List of Books</h1>
<form method="get" action="{{ path('searchBookByRef') }}" >
    <label>Ref </label>
    <input type="number" name="ref" value="{{ ref|default('') }}">
    <button type="submit">Search</button>
</form>
{% if publishedBooks is empty %}
    <div>No Books found</div>
{% else %}
    <table border = "1">
        <tr> <th> Title </th> <th> Publication Date </th> <th> Published </th> <th> Category </th><th> Author </th><th> Actions </th></tr>
        {% for book in publishedBooks %}
        <tr> 
        <td> {{book.title}} </td>
        <td> {{book.publicationDate | date('F j, Y H:i')}} </td>
        <td> {{book.published}} </td>
        <td> {{book.category}} </td>
        <td> {{book.author.username}} </td>
        <td> <a href="{{path('editBook',{'id':book.id})}}">edit</a> 
             <a href="{{path('deleteBook',{'id':book.id})}}">delete</a>
             <a href="{{path('showbookDetails',{'id':book.id})}}">show</a> </td>
        </tr>
        {% endfor %}
    </table>

    {% if nbPublished is defined and nbUnpublished is defined %}
        <p>Number of published books : {{ nbPublished }}</p>
        <p>Number of unpublished books : {{ nbUnpublished }}</p>
    {% endif %}
    <br><button><a href="{{path('addBook')}}">Create new</a></button>
    <br><a href="{{path('deleteAuthorsWithoutBooks')}}">Delete auhtors without books</a>
    <br><a href="{{ path('booksListByAuthors') }}">Trier les livres par auteur</a>
    
    <br><a href="{{ path('findBooksBefore2023') }}" >Livres publiés avant 2023 (Auteurs > 10 livres)</a>
    <br><a href="{{ path('updateScienceFictionToRomance') }}" >Remplacer "Science-Fiction" par "Romance"</a>
{% endif %}